
@{
    ViewBag.Title = "gameConsole";
}

<style>
    .container-card {
        display: flex;
        width: 270px;
        box-shadow: 2px 5px 15px 2px #00ffff;
    }

    .image1 {
        width: 270px;
        height: 270px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img {
        height: 240px;
        width: auto;
    }

    h3, p, h2 {
        text-align: center;
        color: antiquewhite;
    }

    p {
        margin-top: 10px;
        padding:0px 5px;
    }
</style>
<h2>Gaming Console</h2>

<hr />

<body class="card1">
    <div class="container-card">
        <span class="image1">
            <img src="~/wwwroot/Images/0d912d1d3a59ae523b23819c1035ba14.jpg" />
        </span>
        <h3>HEADPHONES</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <h2>$60</h2>
        <div class="box">
            <button>Buy</button>
        </div>
    </div>
    <div class="container-card">
        <span class="image">
            <img src="~/wwwroot/Images/0d912d1d3a59ae523b23819c1035ba14.jpg" />
        </span>
        <h3>HEADPHONES</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <h2>$60</h2>
        <div class="box">
            <button>Buy</button>
        </div>
    </div>
    <div class="container-card">
        <span class="image">
            <img src="~/wwwroot/Images/0d912d1d3a59ae523b23819c1035ba14.jpg" />
        </span>
        <h3>HEADPHONES</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <h2>$60</h2>
        <div class="box">
            <button>Buy</button>
        </div>
    </div>
</body>
